table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 33%;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-button {
    align-self: end;
}